# Edit this file to override any configuration options specified in
# /usr/lib/docker-storage-setup/docker-storage-setup.
#
# For more details refer to "man docker-storage-setup"
WIPE_SIGNATURES=true
DEVS={{ registry_dev }}
VG=docker-vg